<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.HelpMapper">
	
 <!-- 1:1 문의글의 pagenation에 들어갈 정보 -->	
	<sql id="pagenation">
		<where>
			<foreach item="type" separator="OR" collection="typeArr">
				<choose>
					<when test='type == "T"'>
						A.title Like CONCAT('%', #{keyword}, '%')
					</when>
					<when test='type == "W"'>
						A.writer Like CONCAT('%', #{keyword}, '%')
					</when>
					<when test='type == "C"'>
						A.content Like CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
			</foreach>
		</where>
	</sql>

	<!-- 관리자 계정으로 접속했을 때 불러오는 1:1 문의 게시글의 수 -->
  <select id="getTotalCountAdmin" resultType="int">
  	SELECT COUNT(*) FROM ask_board A
  	<include refid="pagenation"></include>
  </select>

	<!-- 일반 유저 계정으로 접속했을 때 불러오는 1:1 문의 게시글의 수 -->
	<select id="getTotalCountUser" resultType="int">
  	SELECT COUNT(*) FROM ask_board WHERE writer = #{writer}
  	<include refid="pagenation"></include>
  </select>

	<!-- 일반 유저의 경우 자신이 작성한 글만 가져오도록 함. -->
	<select id="getList" resultType="org.zerock.domain.HelpVO">
		
		SELECT
			bno bno,
			title title,
			content content,
			writer writer,
			regdate regdate,
			updatedate updatedate
		FROM ask_board WHERE writer = #{writer}
		
	</select>
	
<!-- 유저 계정으로 접속했을 때 해당 유저가 작성한 1:1 문의글의 갯수에 따라서 pagenation이 다르게 출력되도록 함. -->	
  <select id="getListWithPagingUser" resultType="org.zerock.domain.HelpVO">
  	
  	SELECT
  		A.bno bno,
  		A.title title,
  		A.content content,
  		A.writer writer,
  		A.regdate regdate,
  		A.updatedate updatedate,
  		u.username userNickName,
  		count(r.rno) replyCnt  		
  	FROM ask_board A LEFT JOIN ask_reply r ON A.bno = r.bno
  				   INNER JOIN user u ON A.writer = u.userid
  	WHERE writer = #{writer}
  	<include refid="pagenation"></include>
  	GROUP BY A.bno
  	ORDER BY A.bno DESC
  	LIMIT #{from}, #{amount}			   
  				   
  </select>

<!-- 관리자 계정으로 접속했을 때 불러오는 1:1 문의글 갯수에 따라서 pagenation이 다르게 출력되도록 함. -->
	<select id="getListWithPagingAdmin" resultType="org.zerock.domain.HelpVO">
  	
  	SELECT
  		A.bno bno,
  		A.title title,
  		A.content content,
  		A.writer writer,
  		A.regdate regdate,
  		A.updatedate updatedate,
  		u.username userNickName,
  		count(r.rno) replyCnt  		
  	FROM ask_board A LEFT JOIN ask_reply r ON A.bno = r.bno
  				   INNER JOIN user u ON A.writer = u.userid
  	<include refid="pagenation"></include>
  	GROUP BY A.bno
  	ORDER BY A.bno DESC
  	LIMIT #{from}, #{amount}			   
  				   
  </select>

<!-- 1:1 문의글을 작성할 때 작성자가 작성한 제목, 내용, 작성자를 통해서 문의글을 작성함. -->
	<insert id="insert">
		INSERT INTO ask_board (title, content, writer)
		VALUES (#{title}, #{content}, #{writer})
	</insert>

<!-- 1:1 문의글을 작성할 때 고정적으로 해당 게시글에 번호가 들어가게 함. -->
	<insert id="insertSelectkey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
		INSERT INTO ask_board (title, content, writer)
		VALUES (#{title}, #{content}, #{writer})
	</insert>

<!-- 게시글을 확인할 수 있도록 함. -->
	 <select id="read" resultMap="helpMap">
  		SELECT
  			A.bno bno,
  			A.title title,
  			A.content content,
  			A.writer writer,
  			A.regdate regdate,
  			A.updatedate updatedate,
  			f.fileName fileName,
  			u.userName writerName
  		FROM ask_board A LEFT JOIN ask_board_file f ON A.bno = f.bno
  							  JOIN user u ON A.writer = u.userid
  		WHERE A.bno = #{bno}
 	 </select>

<!-- 게시글 번호에 따라서 다른 1:1 문의글 정보가 생성되도록 함. -->
	<resultMap type="org.zerock.domain.HelpVO" id="helpMap">
	<id property="bno" column="bno" />
	<result property="title" column="title" />
	<result property="content" column="content" />
	<result property="writer" column="writer" />
	<result property="regdate" column="regdate" />
	<result property="updateDate" column="updateDate" />
	<result property="writerName" column="writerName" />
	<collection property="fileName" resultMap="fileNameMap"></collection>
	</resultMap>

	<resultMap type="string" id="fileNameMap">
		<result column="fileName" />
	</resultMap> 

	<!-- 일반 계정이 자신이 쓴 1:1 문의글을 삭제할 때 쓰임. -->
	<delete id="delete">
  		DELETE FROM ask_board WHERE bno = #{bno}
  	</delete>
   
   <!-- 관리자 계정이 유저가 쓴 1:1 문의글을 삭제할 때 쓰임. -->
   <delete id="AdminDelete">
   		DELETE FROM ask_board WHERE bno = #{bno}
   </delete>
   
   <!-- 일반 계정이 자신이 쓴 1:1 문의글을 수정할 때 쓰임. -->
 	<update id="update">
  		UPDATE ask_board
  	
  		SET 
  			title = #{title},
  			content = #{content},
  			writer = #{writer},
  			updateDate = NOW()
  		
  		WHERE
  			bno = #{bno}	
 	 </update>
  
  	<!-- 관리자 계정이 1:1 문의글을 수정할 때 쓰임. -->
  	<update id="AdminUpdate">
  		UPDATE ask_board
  		
  		SET
  			title = #{title},
  			content = #{content},
  			writer = #{writer},
  			updateDate = NOW()
  		WHERE
  			bno = #{bno}
  	</update>
  
  	<!-- 유저 아이디에 따라서 1:1 문의글이 삭제되도록 함. -->
  	<delete id="removeByUserid">
  		DELETE FROM ask_board
  		WHERE writer = #{userid}
  	</delete>
	

</mapper>