<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.MainMapper">

	<select id="subscribe" resultType="String">
		SELECT s.subsId
			FROM user AS u JOIN subscriber AS s ON u.userid = s.subsId
		WHERE subsId = #{userid};
	</select>
	
	<select id="getAuthByuserid" resultType="String">
	SELECT au.auth
	FROM user AS u JOIN user_auth AS au ON u.userid = au.userid
	WHERE u.userid = #{userid}
	
	</select>
	
	
</mapper>