<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.MemberMapper">

	<insert id="insert">
		INSERT INTO user
		(userid, userpw, userName, userAddress, address, birthDate, userPhonenum, userEmail, userSex, userNickname, lat, lag)
		VALUES
		(#{userid},#{userpw},#{userName},#{userDetailAddress},#{userAddress},#{birthDate},#{userPhonenum},#{userEmail},#{userSex},#{userNickname},#{lat},#{lag})
	</insert>
	
	<insert id="insertb2b">
		INSERT INTO user
		(userid, userpw, userName, userAddress, address, birthDate, userPhonenum, userEmail, userSex, userNickname, lat, lag)
		VALUES
		(#{userid},#{userpw},#{userName},#{userDetailAddress},#{userAddress},#{birthDate},#{userPhonenum},#{userEmail},#{userSex},#{userNickname},#{lat},#{lag})
	</insert>
	
	<insert id="insertemp">
		INSERT INTO user
		(userid, userpw, userName, userAddress, address, birthDate, userPhonenum, userEmail, userSex, userNickname, lat, lag)
		VALUES
		(#{userid},#{userpw},#{userName},#{userDetailAddress},#{userAddress},#{birthDate},#{userPhonenum},#{userEmail},#{userSex},#{userNickname},#{lat},#{lag})
	</insert>
	
	<insert id="insertstoreinfo">
		INSERT INTO storeinfo
		(storename, storeaddress, address, storePhonenum, businessNum, storelat, storelag, userid)
		VALUES
		(#{storeName}, #{storeUserAddress}, #{storeAddress}, #{storePhonenum}, #{businessNum}, #{storelat}, #{storelag}, #{userid})
	</insert>
		
		
	<insert id="insertAuth">
		INSERT INTO user_auth
		(userid, auth)
		VALUES
		(#{userid}, #{auth})
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<delete id="removeAuth">
		DELETE FROM tbl_member_auth
		WHERE userid = #{userid}
	</delete>

	<delete id="remove">
		DELETE FROM tbl_member
		WHERE userid = #{userid}
	</delete>

	<update id="update">
		UPDATE tbl_member
		SET userpw = #{userpw},
			userName = #{userName},
			updatedate = now()
		WHERE
			userid = #{userid}
	</update>

	<select id="read" resultMap="memberMap"> <!-- resultMap에 이 쿼리의 결과가 담기게 된다. -->
		SELECT
			m.userid userid,
			m.userpw userpw,
			m.username username,
			a.auth auth
		FROM
			user m LEFT JOIN user_auth a ON m.userid = a.userid
		WHERE
			m.userid = #{userid}
	
	</select>
	
	<!-- 책 662쪽 -->
	<resultMap type="org.zerock.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/> <!-- userid라는걸 MemberVO에 넣는것! -->
		<result property="userpw" column="userpw"/>
		<result property="userName" column="username"/>
		<result property="regdate" column="regdate"/>
		<result property="updateDate" column="updateDate"/>
		<result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="org.zerock.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>

</mapper>