<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.WonhyeokMapper">

<select id="getsearchbystorename" resultType="org.zerock.domain.AddressVO">
SELECT 
	storename storename, 
	storeaddress storeaddress,
	storePhonenum storePhonenum, 
	storelat storelat, 
	storelag storelag

FROM storeinfo

WHERE storename like CONCAT('%', #{storename}, '%')
</select>

<select id="getSearchArroundPlaces" resultType="org.zerock.domain.AddressVO">
<![CDATA[

SELECT
	storename storename,
	storeaddress storeaddress,
	storePhonenum storePhonenum, 
	storelat storelat,
	storelag storelag
FROM storeinfo 

WHERE
	  storelat > #{storelat} - 0.01 AND storelat < #{storelat} + 0.01 AND
	  storelag > #{storelag} - 0.01 AND storelag < #{storelag} + 0.01

 ]]>
</select>


<!-- b2bboard xml  -->

<select id="getid" resultType="Int">
SELECT id id
FROM b2bIntroduce
WHERE id = #{id}
</select>

<select id="read" resultType="org.zerock.domain.B2bIntroduceVO">
SELECT
	id id,
	introduce introduce,
	fileName fileName
FROM b2bIntroduce
WHERE id= #{id}
</select>


<insert id="B2bIntroduceRegister">
INSERT INTO b2bIntroduce (id, introduce, fileName)
VALUES (#{id}, #{introduce}, #{fileName})
</insert>

<delete id="deleteById">
DELETE FROM b2bIntroduce
WHERE id = #{id}
</delete>


<!-- 구독페이지 xml -->
	<!-- 가게추천정보 -->
	<select id="getNearStoreInfo" resultType="org.zerock.domain.SubscribeViewVO">
	<![CDATA[
	
	SELECT
		s.id id,
		s.storename storename,
		s.storeaddress storeaddress,
		s.storePhonenum storePhonenum, 
		s.storelat storelat,
		s.storelag storelag,
		b.fileName fileName
	FROM storeinfo AS s LEFT JOIN b2bIntroduce AS b ON s.id = b.id 
	
	WHERE
		  storelat > #{lat} - 0.01 AND storelat < #{lat} + 0.01 AND
		  storelag > #{lag} - 0.01 AND storelag < #{lag} + 0.01
	
	 ]]>
	</select>
	<!-- 가게추천리스트 Modal -->
	<select id="getStoreList" resultType="org.zerock.domain.SubscribeViewVO">
	SELECT
		id id,
		storename storename,
		storeaddress storeaddress,
		storePhonenum storePhonenum
	FROM storeinfo 
	</select>



<!-- 구독자 정보 저장 -->
<insert id="SaveSubscriberInfo">
INSERT INTO subscriber 
(subsId, subsName, subsAddress, storeAddress,subsOptions, subsAmount)
VALUES (#{subsId}, #{subsName}, #{subsAddress}, #{storeAddress}, #{subsOptions}, #{subsAmount})
</insert>

</mapper>