<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.WonhyeokMapper">

<select id="getsearchbystorename" resultType="org.zerock.domain.AddressVO">
SELECT 
	id id,
	storename storename, 
	storeaddress storeaddress,
	storePhonenum storePhonenum, 
	storelat storelat, 
	storelag storelag

FROM storeinfo

WHERE storename like CONCAT('%', #{storename}, '%')
</select>

<select id="getSearchArroundPlaces" resultType="org.zerock.domain.AddressVO">
<![CDATA[

SELECT
	id id,
	storename storename,
	storeaddress storeaddress,
	storePhonenum storePhonenum, 
	storelat storelat,
	storelag storelag
FROM storeinfo 

WHERE
	  storelat > #{storelat} - 0.06 AND storelat < #{storelat} + 0.06 AND
	  storelag > #{storelag} - 0.06 AND storelag < #{storelag} + 0.06

 ]]>
</select>


<!-- b2bboard xml  -->

<select id="getid" resultType="Int">
SELECT id id
FROM b2bIntroduce
WHERE id = #{id}
</select>


<select id="read" resultType="org.zerock.domain.B2bIntroduceVO">
SELECT
	id id,
	introduce introduce,
	fileName fileName
FROM b2bIntroduce
WHERE id= #{id}
</select>


<insert id="B2bIntroduceRegister">
INSERT INTO b2bIntroduce (id, introduce, storeinfo, fileName)
VALUES (#{id}, #{introduce}, #{storeinfo}, #{fileName})
</insert>

<delete id="deleteById">
DELETE FROM b2bIntroduce
WHERE id = #{id}
</delete>
<!-- b2bIntroduce -->
<select id="getStoreInroducePageInfo" resultType="org.zerock.domain.B2bIntroduceVO">
SELECT
	s.id id,
	s.storeaddress storeaddress,
	s.storename storename,
	s.storePhonenum storePhonenum,
	b.storeinfo storeinfo,
	b.introduce introduce,
	b.fileName fileName
FROM storeinfo AS s LEFT JOIN b2bIntroduce AS b ON b.id = #{id}
WHERE s.id = #{id}
</select>


<!-- 구독페이지 xml -->
	<!-- 가게추천정보 -->
	<select id="getNearStoreInfo" resultType="org.zerock.domain.SubscribeViewVO">
	<![CDATA[
	
	SELECT
		s.id id,
		s.storename storename,
		s.storeaddress storeaddress,
		s.storePhonenum storePhonenum, 
		s.storelat storelat,
		s.storelag storelag,
		b.fileName fileName,
		au.auth auth
	FROM storeinfo AS s LEFT JOIN b2bIntroduce AS b ON s.id = b.id 
							JOIN user AS u ON s.userid = u.userid
							JOIN user_auth AS au ON s.userid= au.userid 
	ORDER BY SQRT(pow(#{lat} - s.storelat, 2) + pow(#{lag} - s.storelag,2))
	LIMIT 3
	
	 ]]>
	</select>
	<!-- 가게추천리스트 Modal -->
	<select id="getStoreList" resultType="org.zerock.domain.SubscribeViewVO">
	SELECT
		s.id id,
		s.storename storename,
		s.storeaddress storeaddress,
		s.storePhonenum storePhonenum,
		au.auth auth
	FROM storeinfo AS s JOIN user AS u ON s.userid = u.userid
						JOIN user_auth AS au ON s.userid= au.userid
	</select>
	
	<!-- Search 가게 리스트 -->
	
	<sql id="Search">
     <where>
	     <foreach item="type" collection="typeArr">
	     	<choose>
	     		<when test='type == "S"'>
	     			s.storename LIKE CONCAT('%', #{keyword}, '%');
	     		</when>
	     		<when test='type == "A"'>
	     			s.storeaddress LIKE CONCAT('%', #{keyword}, '%');
	     		</when>
	     	</choose>
	     </foreach>
     </where>	
	</sql>

<select id="getStoreListBySearch" resultType="org.zerock.domain.SubscribeViewVO">
	SELECT
		s.id id,
		s.storename storename,
		s.storeaddress storeaddress,
		s.storePhonenum storePhonenum,
		au.auth auth
	FROM storeinfo AS s JOIN user AS u ON s.userid = u.userid
						JOIN user_auth AS au ON s.userid= au.userid
	<include refid="Search"></include>
	
</select>


<!-- 구독자 정보 저장 -->
<insert id="SaveSubscriberInfo">
INSERT INTO subscriber 
(subsId, subsName, subsAddress, storeid, subsOptions, subsAmount)
VALUES (#{subsId}, #{subsName}, #{subsAddress}, #{storeid}, #{subsOptions}, #{subsAmount})
</insert>

<!-- b2buser의 id로 가게정보 갖고오기 -->
<select id="getStoreInfo" resultType="org.zerock.domain.StoreVO">
SELECT  storename storeName, storeaddress storeUserAddress, storePhonenum storePhonenum
FROM storeinfo
WHERE id = #{id}
</select>
</mapper>